.header {
    background-color: var(--co-head);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    color: white;
}

.logo {
    color: white;
    margin: 15px;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.45s;
    backface-visibility: hidden;
    cursor: default;
}

.logo:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 2px;
}

.header-cloaks-p {
    color: white;
    padding: 20px;
    font-size: 23px;
    font-weight: 700;
    transition: 0.5s;
}

.header-cloaks {
    background-color: rgba(46, 39, 54, 0.45);
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.header-cloaks:hover {
    box-shadow: 0 0 10px white;
    color: black;
    background-color: white;
}

.header-cloaks-p:hover {
    color: black;
    cursor: default;
}

.header-sun-img {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px white;
    transition: 0.2s;
}

.header-sun-img:hover {
    cursor: pointer;
    box-shadow: 0 0 17px white;
    transform: scale(1.12);
}

.container-2 {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


@media (max-width: 450px) {
    .header-cloaks-p {
        font-size: 12px;
        padding: 10px;
    }

    .header-cloaks:hover {
        box-shadow: 0 0 10px black;
        color: white;
        background-color: rgba(46, 39, 54, 0.45);
    }

    .header-cloaks:active {
        box-shadow: 0 0 10px white;
        color: black;
        background-color: white;
    }


}