.hero {
    background: url(../assets/hero_section2.jpg) center no-repeat  ;
    height: 650px;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 120px;

    height: 650px;
    
}

.hero-content-h1 {
    color: var(--co-white) ;
    font-size: 80px;
    font-weight: 900;
}

.hero-content-p {
    color: var(--co-white);
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 1650px) {
    .hero-content {
        width: 1000px;
    }
}

@media (max-width: 1450px) {
    .hero-content-h1 {
        padding-left: 40px;
    } 

    .hero-content-p {
        padding-left: 40px;
    }
}

@media (max-width: 1050px) {
    .hero-content-p {
        font-size: 30px;
    }

    .hero-content {
        gap: 60px;
        width: 500px;
    }
}

@media (max-width: 560px) {
    .hero-content {
        width: 300px;
    }
}

@media (max-width: 301px) {
    .hero-content {
        width: 250px;
    }
    
}