.light-bc-header {
    background-color: white;
}

.light-bc-tech {
    background-color: white;
}

.light-bc-project {
    background-color: white;
    margin: 0;
}

.light-bc-footer {
    background-color: white;
}

.light-bc-body {
    background-color: white;
}

.light-header-logo {
    color: black;
}

.light-header-cl {
    color: black;
}

.light-change-btn {
    border: 1px solid black;
    box-shadow: 0 0 10px black;
}

.light-change-btn:hover {
    box-shadow: 0 0 20px black;
}

.light-btn {
    box-shadow: 0 0 10px black, 0 0 5px black;
}
.light-btn:hover {
    box-shadow: 0 0 20px black, 0 0 15px black;
}