.project {
    margin-top: 20px;
    text-align: center;
    background-color: rgb(33, 29, 33);
}

.project-h1 {
    color: var(--co-white);
    font-size: 50px;
    margin-bottom: 50px;
    padding: 30px;
}

.project-link {
    color: var(--co-white);
    font-size: 60px;
    padding: 35px 80px 35px 80px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--co-black);
    transition: 0.5s;
    font-weight: 700;
}

.project-link:hover {
    box-shadow: 0 0 20px var(--co-white);
    color: black;
    background-color: white;
}

.project-p {
    color: var(--co-white);
    font-size: 30px;
    margin-top: 50px;
    padding: 30px;
}

@media (max-width: 750px) {
    .project-link {
        font-size: 30px;
        padding: 20px 50px 20px 50px;
    } 

}

@media (max-width: 500px) {
    .project-link {
        font-size: 25px;
        padding: 12px 35px 12px 35px;
    }
    
}