:root {
    --co-backgd: rgb(44, 42, 46);
    --co-white: white;
    --co-head: rgba(0, 0, 0, 0.425);
    --co-headline: rgb(46, 39, 54);
    --co-headline2: rgb(40, 38, 43);
    --co-black: black;
}